@using Sloth.Core.Resources
@model Sloth.Web.Models.HomeViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container home-page">
    <div class="home-heading">
        <h1>S.L.O.T.H.</h1>
        <p>Secure Ledger Online Transaction Hub</p>
    </div>

    <div class="home-teams">
        <h2>@(User.IsInRole(Roles.SystemAdmin) ? "All Teams" : "Your Teams")</h2>

        <div class="responsive-table">
            <table id="homeTeamsTable" class="table sloth-table active-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Slug</th>
                        <th>Sources</th>
                        <th>Pending Approval</th>
                        <th>Rejected Transactions</th>                        
                        <th>Stuck Transactions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in Model.Teams)
                    {
                        var teamUrl = Url.Action("TeamIndex", "Home", new { team = team.Slug });
                        <tr data-href="@teamUrl">
                            <td>
                                <a href="@teamUrl">@team.Name</a>
                            </td>
                            <td>@team.Slug</td>
                            <td>@(team.SourceNames.Any() ? string.Join(", ", team.SourceNames) : "None")</td>
                            <td>@team.PendingApprovalTransactionCount</td>
                            <td>@team.FailedTransactionCount</td>                            
                            <td>@team.StuckTransactionCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section AdditionalScripts {
    <script>
        $('#homeTeamsTable').DataTable({
            order: [[0, 'asc']],
            pageLength: -1,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
            language: {
                searchPlaceholder: "Search Table",
                search: "",
            },
        });

        $('#homeTeamsTable tbody').on('click', 'tr', function () {
            window.location = $(this).data('href');
        });
    </script>
}
