@model Sloth.Web.Models.TeamViewModels.EditTeamViewModel

@{
    ViewBag.Title = "Edit Team";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
<h2>@ViewBag.Title</h2>

    <form method="post">
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Slug)
            @Html.TextBoxFor(x => x.Slug, new { @class = "form-control" })
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.KfsContactDepartmentName)
            @Html.TextBoxFor(x => x.KfsContactDepartmentName, new { @class = "form-control" })
            <span asp-validation-for="KfsContactDepartmentName" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.KfsContactUserId)
            @Html.TextBoxFor(x => x.KfsContactUserId, new { @class = "form-control" })
            <span asp-validation-for="KfsContactUserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.KfsContactEmail)
            @Html.TextBoxFor(x => x.KfsContactEmail, new { @class = "form-control" })
            <span asp-validation-for="KfsContactEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.KfsContactPhoneNumber)
            @Html.TextBoxFor(x => x.KfsContactPhoneNumber, new { @class = "form-control" })
            <span asp-validation-for="KfsContactPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.KfsContactMailingAddress)
            @Html.TextBoxFor(x => x.KfsContactMailingAddress, new { @class = "form-control" })
            <span asp-validation-for="KfsContactMailingAddress" class="text-danger"></span>
        </div>
        <div class="d-grid">
<input type="submit" value="Save" class="btn btn-primary" />
        </div>
        
    </form>
        </div>
    </div>
    
</div>
