@using Sloth.Core.Models
@model Sloth.Web.Models.IntegrationViewModels.CreateIntegrationViewModel

@{
    ViewBag.Title = "Create Integration";

    var sources = ViewBag.Sources as IEnumerable<Source>;

    var sourceItems = sources?.Select(s => new SelectListItem() { Text = $"{s.Name} {s.Type}", Value = s.Id });

    var types = ViewBag.Types as IEnumerable<string>;
    var typeItems = types?.Select(t => new SelectListItem() { Text = t, Value = t });
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.SourceId)
        @Html.DropDownListFor(x => x.SourceId, sourceItems, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Type)
        @Html.DropDownListFor(x => x.Type, typeItems, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.MerchantId)
        @Html.TextBoxFor(x => x.MerchantId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ReportUserName)
        @Html.TextBoxFor(x => x.ReportUserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ReportPassword)
        @Html.PasswordFor(x => x.ReportPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ClearingAccount)
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">3 - </span>
            </div>
            @Html.TextBoxFor(x => x.ClearingAccount, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.HoldingAccount)
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">3 - </span>
            </div>
            @Html.TextBoxFor(x => x.HoldingAccount, new { @class = "form-control" })
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
}
