@using Sloth.Core.Models
@model Sloth.Web.Models.CreateIntegration

@{
    ViewBag.Title = "Create Integration";

    var teams = ViewBag.Teams as IEnumerable<Team>;
    var sources = ViewBag.Sources as IEnumerable<Source>;

    var teamItems = teams?.Select(t => new SelectListItem() { Text = t.Name, Value = t.Id });
    var sourceItems = sources?.Select(s => new SelectListItem() { Text = $"{s.Name} {s.Type}", Value = s.Id });

    var types = ViewBag.Types as IEnumerable<string>;
    var typeItems = types?.Select(t => new SelectListItem() { Text = t, Value = t });
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.TeamId)
    @Html.DropDownListFor(x => x.TeamId, teamItems)

    @Html.LabelFor(x => x.SourceId)
    @Html.DropDownListFor(x => x.SourceId, sourceItems)

    @Html.LabelFor(x => x.Type)
    @Html.DropDownListFor(x => x.Type, typeItems)

    @Html.LabelFor(x => x.MerchantId)
    @Html.EditorFor(x => x.MerchantId)

    @Html.LabelFor(x => x.ReportUserName)
    @Html.EditorFor(x => x.ReportUserName)

    @Html.LabelFor(x => x.ReportPassword)
    @Html.PasswordFor(x => x.ReportPassword)

    @Html.LabelFor(x => x.DefaultAccount)
    @Html.EditorFor(x => x.DefaultAccount)

    <input type="submit" value="Create" />
}
