@model Sloth.Core.Models.CybersourceBankReconcileJobRecord

@{
    ViewData["Title"] = "Cybersource Bank Reconcile Details";
}

@section AdditionalStyles
{
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>CybersourceBankReconcileJobRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RanOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RanOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcessedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcessedDate)
        </dd>
    </dl>
</div>

<partial name="_LogConsole" />

<div>
    <a asp-action="CybersourceBankReconcile">Back to List</a>
</div>

@section AdditionalScripts
{
}
