@model Sloth.Core.Models.KfsScrubberUploadJobRecord

@{
    ViewBag.Title = "Kfs Scrubber Upload Job Details";
}

@section AdditionalStyles
{
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>KFS Upload Scrubber Job Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RanOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RanOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

<partial name="_LogConsole" />

<div>
    <a asp-action="KfsScrubberUpload">Back to List</a>
</div>

@section AdditionalScripts
{
}

