@using Humanizer
@using Sloth.Core.Extensions
@using Sloth.Core.Models
@using Sloth.Core.Resources
@using Sloth.Web.Models.TransactionViewModels
@model TransactionDetailsViewModel

@{
    ViewBag.Title = "Transaction Details";

    Uri merchantUrl;
    var isUrlValid = Uri.TryCreate(Model.Transaction.MerchantTrackingUrl, UriKind.Absolute, out merchantUrl);
}

<div class="container">
    
        <h2>@ViewBag.Title</h2>
    

@if(String.IsNullOrWhiteSpace(Model.Transaction.Transfers[0].FinancialSegmentString))
{
    <partial name="_KfsDetails" model="Model" />
}
else
{
    <partial name="_AeDetails" model="Model" />
}


<div class="row mt-5">
    <h2>Activity Timeline</h2>
    @foreach (var activity in Model.Transaction.StatusEvents.OrderBy(a => a.EventDate))
    {
        <div class="txn-timeline-row">
            <div class="txn-timeline-date">
                <span>@activity.EventDate.ToPacificTime().ToString("g")</span>
            </div>
            <div class="txn-timeline-result">
                    <span class="badge @(TransactionStatuses.GetBadgeClass(activity.Status))">@activity.Status.Humanize(LetterCasing.Title)</span> <span>@activity.EventDetails</span>
            </div>
        </div>
    } 
</div>

@if (Model.RelatedTransactions.Transactions.Any())
{
    <div class="row mt-5">
    <h2>Related Transactions</h2>
    <partial name="_TransactionsTable" model="Model.RelatedTransactions" />
    </div>
    
}

</div>


 @section AdditionalScripts {
    <script src="~/js/prism.js"></script>
<script>
        $('#transfers').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false }
            ],
            "paging": false,
            "info": false,
            //"searching": false,
            "order": [[1, 'desc'],[2, 'desc']],
            searching: false,
        });
        const table = $('#transactionsTable').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false },
                { "targets": [-1], "orderable": false },
            ],
            order: [[1, 'desc']],
            searching: false,
        });

        $("#transactionsTable tbody").on("click", "tr", function () {
            window.location = $(this).data("href");
        });

    </script>
}
