@using Humanizer
@using Sloth.Core.Extensions
@using Sloth.Core.Models
@using Sloth.Core.Resources
@using Sloth.Web.Models.TransactionViewModels
@model TransactionDetailsViewModel

@{
    ViewBag.Title = "Transaction Details";

    Uri merchantUrl;
    var isUrlValid = Uri.TryCreate(Model.Transaction.MerchantTrackingUrl, UriKind.Absolute, out merchantUrl);
}

<div class="container">

        <h2>@ViewBag.Title</h2>


@* @if(String.IsNullOrWhiteSpace(Model.Transaction.Transfers[0].FinancialSegmentString))
{
    <partial name="_KfsDetails" model="Model" />
}
else
{ *@
    <partial name="_AeDetails" model="Model" />
@* } *@

<div class="row mt-5">
    <h2>Activity Timeline</h2>
    @foreach (var activity in Model.Transaction.StatusEvents.OrderBy(a => a.EventDate))
    {
        <div class="txn-timeline-row">
            <div class="txn-timeline-date">
                <span>@activity.EventDate.ToPacificTime().ToString("g")</span>
            </div>
            <div class="txn-timeline-result">
                    <span class="badge @(TransactionStatuses.GetBadgeClass(activity.Status))">@activity.Status.Humanize(LetterCasing.Title)</span> <span>@activity.EventDetails</span>
            </div>
        </div>
    }
</div>

@if (Model.Transaction.Metadata.Any())
{
    <div class="row mt-5">
    <h2>Metadata</h2>
    <partial name="_TransactionMetadata" model="Model.Transaction.Metadata" />
    </div>
}

@if (Model.RelatedTransactions.Transactions.Any())
{
    <div class="row mt-5">
    <h2>Related Transactions</h2>
    <partial name="_TransactionsTable" model="Model.RelatedTransactions" />
    </div>
}

@if (Model.RelatedBlobs.Blobs.Any())
{
    <div class="row mt-5">
    <h2>Related Files</h2>
    <partial name="_BlobsTable" model=@Model.RelatedBlobs />
    </div>
}

</div>

@if (Model.Transaction.Status == TransactionStatuses.Rejected || Model.Transaction.IsStale())
{
    <div id="cancel-txn-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Transaction?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form id="cancel-txn-modal-form" method="post" action="@Url.Action("Cancel")">
              <input name="id" type="hidden" value="@Model.Transaction.Id" />
              <input name="reason" class="form-control" type="text" placeholder="Reason" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="cancel-txn-modal-action" class="btn btn-primary">Cancel Transaction</button>
          </div>
        </div>
      </div>
    </div>
}

 @section AdditionalScripts {
    <script src="~/js/prism.js"></script>
    <script>
        $('#transfers').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false }
            ],
            "paging": false,
            "info": false,
            //"searching": false,
            "order": [[1, 'desc'],[2, 'desc']],
            searching: false,
        });
    </script>

    <script>
        $('#cancel-txn-modal-action').click(function () {
        $('#cancel-txn-modal-form').submit();
    });
    </script>

    @if (Model.Transaction.Metadata.Any())
    {
        <partial name="_MetadataTableScript" />
    }

    @if (Model.RelatedTransactions.Transactions.Any())
    {
        <partial name="_TransactionsTableScript" />
    }

    @if (Model.RelatedBlobs.Blobs.Any())
    {
        <partial name="_BlobsTableScript" />
    }
}
