@model Sloth.Web.Models.TransactionViewModels.TransactionsReturnedViewModel

@{
    ViewBag.Title = "Transactions";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <form id="filter" action="@Url.Action("Index")" onsubmit="return trySubmitFilter()">
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row mb-2">
                <div class="col">
                    <div class="form-inline float-right">
                        <div id="date-range" class="input-group-sm input-daterange form-inline" data-provide="datepicker" data-date-container="body">
                            <label for="from-input">From:</label>
                            <input name="from" id="from-input" type="text" class="form-control form-control-sm ml-2 mr-1" placeholder="MM/DD/YYYY" value="@Html.DisplayFor(x => x.From)" />
                            <label for="to-input">To:</label>
                            <input name="to" id="to-input" type="text" class="form-control form-control-sm ml-2" placeholder="MM/DD/YYYY" value="@Html.DisplayFor(x => x.To)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <partial name="_TransactionsTable" model="Model.Transactions" />
</div>


@section AdditionalScripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        $('#transactionsTable').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false },
                { "targets": [-1], "orderable": false },
            ]
        });

        // wire up filtering form events
        (function() {
            $('#from-input, #to-input').each(function() {
                var value = this.value;

                $(this).on('focusin', function (e) {
                    value = e.target.value;
                });

                $(this).on('focusout', function (e) {
                    if ((value || "") !== e.target.value) {
                        trySubmitFilter();
                    }
                });
            });

            $('#date-range').on('changeDate', function(e) {
                trySubmitFilter();
            });

            function trySubmitFilter() {
                var from = moment($('#from-input')[0].value, "MM/DD/YYYY");
                var to = moment($('#to-input')[0].value, "MM/DD/YYYY");

                if (!from.isValid() || !to.isValid())
                    return false;

                var newLocation = "@Url.Action("Index")/Filtered/" +
                    from.format("YYYY-MM-DD") +
                    "/" +
                    to.format("YYYY-MM-DD");

                window.location.replace(newLocation);

                return false;
            }
        })();
    </script>
}
