@model Sloth.Web.Models.TransactionViewModels.TransactionsIndexViewModel

@{
    ViewBag.Title = "Transactions";
}

    <div class="container">
    @if (Model.PendingApprovalCount > 0)
    {
        @if (Context.HasTeamRole(TeamRole.Approver))
        {
            <div class="alert alert-warning" role="alert">
                There are @Model.PendingApprovalCount @(Model.PendingApprovalCount > 1 ? "transactions" : "transaction") pending approval, <a asp-controller="Transactions" asp-action="NeedApproval">click here</a> <span> to view them</span>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <span>There are @Model.PendingApprovalCount @(Model.PendingApprovalCount > 1 ? "transactions" : "transaction") pending approval</span>
            </div>
        }
    }
        <h2>@ViewBag.Title</h2>
        <h3>Filters</h3>
        <div class="row justify-content-between filters-wrapper">
            <div class="col-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nov 11 2021" aria-label="">
                    <span class="input-group-text">to</span>
                    <input type="text" class="form-control" placeholder="Dec 12 2023" aria-label="">
                     <select class="form-select status-filter" aria-label="Default select example">
                    <option selected>Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                </div>
                <button type="button" class="btn btn-light mt-1">Apply filter</button>
            </div>

        </div>
        

        @if (string.IsNullOrWhiteSpace(Model.Filter.TrackingNum))
        {
            <div class="row justify-content-between">
@*                 
                <div class="col-6">
                    <h3>Filters</h3>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-end">
                    <button class="btn align-self-end" type="button" data-bs-toggle="collapse" data-bs-target="#transactions-filter"><i class="fas fa-filter"></i></button>
                </div> *@

                @* <div id="transactions-filter" class="col-12 collapse">
                    <form class="row" id="invoiceFilterForm" asp-controller="Transactions" asp-action="Index" method="get">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="input-group-sm form-group col-lg-6">
                                    <label for="filter_merchant_id">Merchant Id</label>
                                    <select id="filter_merchant_id" name="selectedMerchantId" class="form-control" asp-for="Filter.SelectedMerchantId" asp-items="Model.TeamMerchantIds" data-style="btn-primary"></select>
                                </div>

                                <div class="input-group-sm form-group col-12">
                                    <label for="filter-date-range">Transaction Date</label>
                                    <div id="filter-date-range" class="input-group input-daterange">
                                        <input name="from" class="form-control" type="text" placeholder="MM/DD/YYYY" asp-for="Filter.From" asp-format="{0:MM/dd/yyyy}" />
                                        <div class="input-group-addon add-on px-2" style="height: auto">to</div>
                                        <input name="to" class="form-control" type="text" placeholder="MM/DD/YYYY" asp-for="Filter.To" asp-format="{0:MM/dd/yyyy}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex justify-content-end align-items-end">
                            <div class="d-flex justify-content-end align-items-center form-group">
                                <button class="btn" type="reset">Clear Filter</button>
                                <button class="btn btn-outline-secondary ml-2" type="submit">Apply Filter <i class="fas fa-filter"></i></button>
                            </div>
                        </div>
                    </form>
                </div> *@
            </div>
        }

        <partial name="_TransactionsTable" model="Model.TransactionsTable" />
    </div>

@section AdditionalScripts {
    <script>
        const table = $('#transactionsTable').DataTable({
            "columnDefs": [
                { "targets": 0, "visible": false },
                { "targets": [-1], "orderable": false },
            ],
            order: [[1, 'desc']],
            language: {
                searchPlaceholder: "Search Table",
                search: "",
            },
        });

        // setup datepickers
        $('#filter-date-range').datepicker({
            inputs: $('#filter-date-range input'),
            keepEmptyValues: true,
        });

        $("body").on("click",
            "#transactionsTable tbody tr #callWebHook",
            function(e) {
                e.preventDefault();
                var row = table.row($(this).closest('tr')).data();
                if (row && row[0]) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("CallWebHook", "Transactions")",
                        data: { id: row[0] },
                        success: function(msg) {
                            alert("WebHook Called");
                        },
                        error: function(_, status, error) {
                            alert(status + ((error && (": " + error)) || ""));
                        }
                    });
                }
            });

    </script>
}
