@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using Sloth.Core.Resources
@using Sloth.Web.Identity
@inject ApplicationUserManager UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = await UserManager.GetUserAsync(User);
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
    var controller = HttpContextAccessor.HttpContext.GetRouteData().Values["controller"] as string;
    var action = HttpContextAccessor.HttpContext.GetRouteData().Values["action"] as string;

    var teams = user.GetTeams().ToList();

    var trackingNum = "";

    if (string.Equals("transactions", controller, StringComparison.OrdinalIgnoreCase)
        && string.Equals("search", action, StringComparison.OrdinalIgnoreCase))
    {
        trackingNum = HttpContextAccessor.HttpContext.Request.Query["trackingNum"];
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sloth.Web</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

    <environment names="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    </environment>

    <partial name="_DataTableStyles" />

    <environment names="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("AdditionalStyles", required: false)
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/images/logo.png" alt="logo" />
                Sloth Web
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Teams" asp-action="Index">Teams</a>
                    </li>

                    @if (!string.IsNullOrEmpty(teamSlug))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Transactions" asp-action="Index">Transactions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Scrubbers" asp-action="Index">Scrubbers</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Teams" asp-action="Details" asp-route-team="@teamSlug">Settings</a>
                        </li>
                    }

                    @if (User.IsInRole(Roles.SystemAdmin))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Jobs" asp-action="Index">Jobs</a>
                        </li>
                    }

                    @if (!string.IsNullOrEmpty(teamSlug))
                    {
                        <li class="nav-item">
                            <form class="topsearch" asp-controller="Transactions" asp-action="Index" asp-route-team="@teamSlug" method="get">
                                <input class="form-control" name="trackingNum" type="search" placeholder="Search Transactions" value="@trackingNum" aria-label="Search Transactions">
                            </form>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
    <div class="body-content">
        @if (!string.IsNullOrWhiteSpace(ViewBag?.Message ?? ViewBag?.ErrorMessage))
        {
            <div class="container">
                <div class="row mb-1">
                    @if (!string.IsNullOrWhiteSpace(ViewBag?.Message))
                    {
                        <div class="col alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            @ViewBag.Message
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(ViewBag?.ErrorMessage))
                    {
                        <div class="col alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            @ViewBag.ErrorMessage
                        </div>
                    }
                </div>
            </div>
        }
        @RenderBody()
    </div>
    <footer class="border-top py-3">
        <div class="text-center">
            <p>&copy; - The Regents of the University of California, Davis campus. All rights reserved</p>
        </div>
    </footer>

    <environment names="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <partial name="_DataTableScripts" />

    @RenderSection("AdditionalScripts", required: false)
</body>
</html>
