@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using Sloth.Core.Resources
@using Sloth.Web.Identity
@inject ApplicationUserManager UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = await UserManager.GetUserAsync(User);
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
    var controller = HttpContextAccessor.HttpContext.GetRouteData().Values["controller"] as string;
    var action = HttpContextAccessor.HttpContext.GetRouteData().Values["action"] as string;
    var teamRoles = (string[])Context.Items["TeamRoles"];

    var teams = user.GetTeams().ToList();


    var trackingNum = "";

    if (string.Equals("transactions", controller, StringComparison.OrdinalIgnoreCase)
        && string.Equals("search", action, StringComparison.OrdinalIgnoreCase))
    {
        trackingNum = HttpContextAccessor.HttpContext.Request.Query["trackingNum"];
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sloth.Web</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

    <environment names="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    </environment>

    <partial name="_DataTableStyles" />

    <environment names="Development">
        <link rel="stylesheet" href="~/dev/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("AdditionalStyles", required: false)
</head>
<body>
    <div class="page-wrap">
<header>
        <div class="container">
            <div class="row justify-content-between">
            <div class="col"><a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/ucdavissloth-logo.svg" alt="logo" />
               
            </a>
            </div>
            <div class="col-2 text-end"><img src="~/images/sloth-svg.svg" alt="logo" /></div>
            </div>
        </div>
        
    </header>
    <div class="search-wrapper">
        <div class="container">
        <div class="row justify-content-between">

        <div class="col-8 d-flex search-bar">
            <div class="col-3 team-chooser"><select id="team-select" class="form-select" aria-label="Default select example">
            <option value="">-- Choose team --</option>
            @foreach (var item in teams)
            {
                if (item.Slug == teamSlug)
                {
                    <option selected value=@item.Slug data-slug=@item.Slug>@item.Name</option>
                }
                else
                {
                    <option value=@item.Slug data-slug=@item.Slug>@item.Name</option>
                }
            }
            </select></div>
            <div class="col-7">
                <form class="topsearch" asp-controller="Transactions" asp-action="Index" asp-route-team="@teamSlug" method="get">
                <input class="form-control" name="trackingNum" type="search" placeholder="Search Transactions" value="@trackingNum" aria-label="Search Transactions">
            </form>
            </div>
            
            
            </div>
        <div class="col-4 text-end profile-bar"><partial name="_LoginPartial" /></div>
        </div>
        
        </div>
    </div>
    <div class="navbar">
        <div class="container">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    @if (!string.IsNullOrEmpty(teamSlug))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Transactions" asp-action="Index"><partial name="_TransactionsSvgPartial" />Transactions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Scrubbers" asp-action="Index"><partial name="_ScrubberSvgPartial" />Scrubbers</a>
                        </li>
                        @if (Context.HasTeamRole(TeamRole.Admin)) {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Teams" asp-action="Details" asp-route-team="@teamSlug"><partial name="_SettingSvgPartial" /> Settings</a>
                            </li>
                        }
                    }

   
                    @if (User.IsInRole(Roles.SystemAdmin))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Jobs" asp-action="Index"><partial name="_JobsSvgPartial" />Jobs</a>
                        </li>
                    }

                    @if (!string.IsNullOrEmpty(teamSlug))
                    {
                        <li class="nav-item">
                            
                        </li>
                    }
                </ul>
                
            </div>
        </div>
    </div>
    <div class="body-content">
        @if (!string.IsNullOrWhiteSpace(ViewBag?.Message ?? ViewBag?.ErrorMessage))
        {
            <div class="container">
                <div class="row mb-1">
                    @if (!string.IsNullOrWhiteSpace(ViewBag?.Message))
                    {
                        <div class="col alert alert-info">
                            <button type="button" class="close" data-bs-dismiss="alert">×</button>
                            @ViewBag.Message
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(ViewBag?.ErrorMessage))
                    {
                        <div class="col alert alert-danger">
                            <button type="button" class="close" data-bs-dismiss="alert">×</button>
                            @ViewBag.ErrorMessage
                        </div>
                    }
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string ?? TempData["ErrorMessage"] as string))
        {
            <div class="container">
                <div class="row mb-1">
                    @if (!string.IsNullOrWhiteSpace(TempData["Message"] as string))
                    {
                        <div class="col alert alert-info">
                            <button type="button" class="close" data-bs-dismiss="alert">×</button>
                            @TempData["Message"]
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"] as string))
                    {
                        <div class="col alert alert-danger">
                            <button type="button" class="close" data-bs-dismiss="alert">×</button>
                            @TempData["ErrorMessage"]
                        </div>
                    }
                </div>
            </div>
        }
        @RenderBody()
    </div>
    </div>
    
    <footer class="border-top py-3">
        <div class="text-center">
            <p>&copy; - The Regents of the University of California, Davis campus. All rights reserved</p>
        </div>
    </footer>


    <environment names="Development">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    <script type="text/javascript">
        $('#team-select').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            if(valueSelected !== "")
            {
                window.location = "/" + valueSelected + "/transactions";
            }
            else
            {
                window.location = "/Teams";
            }
        });
    </script>

    <partial name="_DataTableScripts" />

    @RenderSection("AdditionalScripts", required: false)
</body>
</html>
