@using Humanizer
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@using Sloth.Core.Models
@using Sloth.Core.Resources
@model IEnumerable<Sloth.Core.Models.Transaction>
@inject IHttpContextAccessor HttpContextAccessor

@{
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
}

<table id="transactionsTable" class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Id)</th>
            <th>@Html.DisplayNameFor(x => x.TransactionDate)</th>
            <th>@Html.DisplayNameFor(x => x.KfsTrackingNumber)</th>
            <th>@Html.DisplayNameFor(x => x.DocumentNumber)</th>
            <th>@Html.DisplayNameFor(x => x.ProcessorTrackingNumber)</th>
            <th>@Html.DisplayNameFor(x => x.MerchantTrackingNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>Accounts</th>
            <th>@Html.DisplayNameFor(x => x.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            var description = t.Transfers[0].Description;
            var firstDebit = t.Transfers.First(x => x.Direction == Transfer.CreditDebit.Debit);
            var firstCredit = t.Transfers.First(x => x.Direction == Transfer.CreditDebit.Credit);

            <tr>
                <th scope="row">@t.Id</th>
                <td nowrap data-sort="@t.TransactionDate.Ticks">@t.TransactionDate</td>
                <td>@t.KfsTrackingNumber</td>
                <td>@t.DocumentNumber</td>
                <td>@t.ProcessorTrackingNumber</td>
                <td><a asp-controller="Transactions" asp-action="Search" asp-route-trackingNum="@t.MerchantTrackingNumber">@t.MerchantTrackingNumber</a></td>
                <td>@description</td>
                <td>@($"{firstDebit.Chart}-{firstDebit.Account}") -> @($"{firstCredit.Chart}-{firstCredit.Account}")</td>
                <td class="text-center">
                    <span class="badge @(TransactionStatuses.GetBadgeClass(t.Status))">@t.Status.Humanize()</span>
                </td>
                <td>
                    <a asp-controller="Transactions" asp-action="Details" asp-route-id="@t.Id" class="btn btn-primary btn-sm" target="_blank">
                        <i class="fa fa-fw fa-info"></i>
                        <i class="fa fa-fw fa-external-link"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
