@model IEnumerable<Sloth.Core.Models.Transaction>

@{
}

<table id="transactions" class="table table-bordered" style="width: 100%">
  <thead>
  <tr>
    <th>@Html.DisplayNameFor(x => x.Id)</th>
    <th>@Html.DisplayNameFor(x => x.TransactionDate)</th>
    <th>@Html.DisplayNameFor(x => x.KfsTrackingNumber)</th>
    <th>@Html.DisplayNameFor(x => x.DocumentNumber)</th>
    <th>@Html.DisplayNameFor(x => x.ProcessorTrackingNumber)</th>
    <th>@Html.DisplayNameFor(x => x.MerchantTrackingNumber)</th>
    <th>@Html.DisplayNameFor(x => x.Status)</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  @foreach (var t in Model)
  {
    <tr>
      <th scope="row">@t.Id</th>
      <td>@t.TransactionDate</td>
      <td>@t.KfsTrackingNumber</td>
      <td>@t.DocumentNumber</td>
      <td>@t.ProcessorTrackingNumber</td>
      <td>@t.MerchantTrackingNumber</td>
      <td>@t.Status</td>
      <td>
        <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = t.Id })">
          <div class="fa fa-arrow-right"></div>
        </a>
      </td>
    </tr>
  }
  </tbody>
</table>
