@using Sloth.Core.Resources
@model Sloth.Web.Models.SourceViewModels.CreateSourceViewModel

@{
    ViewBag.Title = "Create KFS Feed Source";

    var sourceTypes = SourceTypes.GetAll().Select(t => new SelectListItem() { Text = t, Value = t });
    var documentTypes = DocumentTypes.GetAll().Select(t => new SelectListItem() { Text = t, Value = t });
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="form-group">
            @Html.DisplayNameFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "ex: Team Recharge" })
            <span asp-validation-for="Name" class="text-danger"></span>
            <small id="emailHelp" class="form-text text-muted">Identifies this source uniquely in the resulting financial feed</small>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.Type)
            <select asp-for="Type" asp-items="sourceTypes" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "ex: External Recharge Income" })
            <span asp-validation-for="Description" class="text-danger"></span>
            <small id="emailHelp" class="form-text text-muted">Optional: Extended description to remember this source by</small>
        </div>

        <div class="alert alert-warning" role="alert">
            The following fields are required only for KFS.  For Aggie Enterprise, leave them blank.
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(x => x.Chart)
            @Html.TextBoxFor(x => x.Chart, new { @class = "form-control", placeholder = "XX" })
            <span asp-validation-for="Chart" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.OrganizationCode)
            @Html.TextBoxFor(x => x.OrganizationCode, new { @class = "form-control", placeholder = "XXXX" })
            <span asp-validation-for="OrganizationCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.OriginCode)
            @Html.TextBoxFor(x => x.OriginCode, new { @class = "form-control", placeholder = "XX" })
            <span asp-validation-for="OriginCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.DocumentType)
            @Html.DropDownListFor(x => x.DocumentType, documentTypes, "", new { @class = "form-control" })
            <span asp-validation-for="DocumentType" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.KfsFtpUsername)
            @Html.TextBoxFor(x => x.KfsFtpUsername, new { @class = "form-control" })
            <span asp-validation-for="KfsFtpUsername" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.KfsFtpPasswordKey)
            <div class="input-group">

                @Html.PasswordFor(x => x.KfsFtpPasswordKey, new { @class = "form-control", @readonly = true })
                <div class="input-group-append">
                    <div id="kfs-ftp-password-key-clear" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passwordModal">
                        <i class="fa fa-edit"></i>
                    </div>
                </div>
            </div>
            <span asp-validation-for="KfsFtpPasswordKey" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-end align-items-end">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    }
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Private Key</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="passwordModalInput" class="form-control text-monospace"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="passwordModalSave">Save</button>
            </div>
        </div>
    </div>
</div>

@section AdditionalScripts
{
    <script>
        $(function () {
            var $modal = $('#passwordModal');
            var $input = $('#passwordModalInput');
            var $target = $('#KfsFtpPasswordKey');

            $modal.on('show.bs.modal', function() {
                $input.val('');
            });

            $('#passwordModalSave').click(function() {
                var key = $input.val();
                var encoded = btoa(key);
                $target.val(encoded);
                $modal.modal('hide');
            });
        });
    </script>
}
