@using Sloth.Core.Models;
@using Sloth.Core.Resources
@using Sloth.Web.Models.SourceViewModels
@model Sloth.Web.Models.SourceViewModels.CreateSourceViewModel

@{
    ViewBag.Title = "Create Source";

    var defaultTeamId = ViewBag.DefaultTeamId as string;

    var teams = ViewBag.Teams as IEnumerable<Team>;
    var teamItems = teams?.Select(t => new SelectListItem() { Text = t.Name, Value = t.Id, Selected = t.Id == defaultTeamId });

    var documentTypes = DocumentTypes.GetAll().Select(t => new SelectListItem() {Text = t, Value = t});
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        @Html.DisplayNameFor(x => x.TeamId)
        @Html.DropDownListFor(x => x.TeamId, teamItems, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "ex: Test Team Recharge Source" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.Type)
        @Html.TextBoxFor(x => x.Type, new { @class = "form-control", placeholder = "ex: Cybersource, Recharge, etc" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "ex: External Recharge Income" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.Chart)
        @Html.TextBoxFor(x => x.Chart, new { @class = "form-control", placeholder = "XX" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.OrganizationCode)
        @Html.TextBoxFor(x => x.OrganizationCode, new { @class = "form-control", placeholder = "XXXX" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.OriginCode)
        @Html.TextBoxFor(x => x.OriginCode, new { @class = "form-control", placeholder = "XX" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.DocumentType)
        @Html.DropDownListFor(x => x.DocumentType, documentTypes, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.KfsFtpUsername)
        @Html.TextBoxFor(x => x.KfsFtpUsername, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.KfsFtpPasswordKey)
        @Html.PasswordFor(x => x.KfsFtpPasswordKey, new { @class = "form-control" })
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}
