@using Sloth.Core.Models;
@model CreateSourceViewModel

@{
    ViewBag.Title = "Create Source";

    var teams = ViewBag.Teams as IEnumerable<Team>;
    var teamItems = teams?.Select(t => new SelectListItem() { Text = t.Name, Value = t.Id });
}

<h2>@ViewBag</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        @Html.DisplayNameFor(x => x.TeamId)
        @Html.DropDownListFor(x => x.TeamId, teamItems, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.TeamId)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.TeamId)
        @Html.TextBoxFor(x => x.Type, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.TeamId)
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.TeamId)
        @Html.TextBoxFor(x => x.OriginCode, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.TeamId)
        @Html.TextBoxFor(x => x.DocumentType, new { @class = "form-control" })
    </div>
    <div class="d-flex justify-content-end align-items-end">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}
