@using Sloth.Core.Models
@model IEnumerable<Source>

@{
    ViewBag.Title = "Sources";
}

@section AdditionalStyles
{
    @Html.Partial("_DataTableStylePartial")
}

<h2>@ViewBag.Title</h2>

<table id="sourcesTable" class="table">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Source Name</th>
            <th>Type</th>
            <th>Origin Code</th>
            <th>Document Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var source in Model)
        {
            <tr>
                <td>@source.Team.Name</td>
                <td>@source.Name</td>
                <td>@source.Type</td>
                <td>@source.OriginCode</td>
                <td>@source.DocumentType</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@source.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section AdditionalScripts
{
    @Html.Partial("_DataTableScriptsPartial")

    <script>
        // setup tables
        var sourcesTable = $('#sourcesTable').DataTable({});
    </script>
}
