@using Sloth.Core.Extensions
@model Sloth.Web.Models.ScrubberViewModels.ScrubberDetailsViewModel

@{
    ViewBag.Title = "Scrubber Details";
}

@section AdditionalStyles
{
    <link href="~/css/prism.css" rel="stylesheet" />

    <style>
        pre.code-toolbar > .toolbar a, pre.code-toolbar > .toolbar button, pre.code-toolbar > .toolbar span {
            color: black;
            font-size: 16px;
            background-color: white;
        }
    </style>
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <dl class="row">
        <div class="col>
            <dt>@Html.DisplayNameFor(x => x.Scrubber.Id)</dt>
            <dd>@Model.Scrubber.Id</dd>
        </div>
        <div class="col>
            <dt>@Html.DisplayNameFor(x => x.Scrubber.Uri)</dt>
            <dd>@Model.Scrubber.Uri</dd>
        </div>
    </dl>

    <partial name="_TransactionsTable" model="Model.TransactionsTable" />

    <pre><code class="language-markup">@Model.Scrubber.ToXml()</code></pre>
</div>

@section AdditionalScripts
{
    <script src="~/js/prism.js"></script>
    <script>
        $('#transactions').dataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                }
            ]
        });</script>
}
