@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@model IEnumerable<Sloth.Core.Models.Scrubber>
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Scrubbers";
    var teamSlug = HttpContextAccessor.HttpContext.GetRouteData().Values["team"] as string;
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>

        <table id="scrubbersTable" class="table sloth-table active-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(x => x.Id)</th>
                    <th>@Html.DisplayNameFor(x => x.Source.OrganizationCode)</th>
                    <th>@Html.DisplayNameFor(x => x.BatchDate)</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    var slug = !string.IsNullOrWhiteSpace(teamSlug) ? teamSlug : t.Source?.Team?.Slug;
                    <tr data-href="/@slug/Scrubbers/Details/@t.Id">
                        <th scope="row">@t.Id</th>
                        <td>@t.Source.OrganizationCode</td>
                        <td data-sort="@t.BatchDate.Ticks">@t.BatchDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section AdditionalScripts {
    <script>
        $('#scrubbersTable').DataTable({
            order: [[2, 'desc']],
            language: {
                searchPlaceholder: "Search Table",
                search: "",
            },
        });

        $("#scrubbersTable tbody").on("click", "tr", function () {
            window.location = $(this).data("href");
        });
    </script>
}
