@using Sloth.Core.Extensions
@model Sloth.Core.Models.User
@{
    ViewBag.Title = "Profile";
}

@section AdditionalStyles
{
  <style>
    .masked-key {
      display: inline;
      font-family: monospace;
    }
  </style>
}

<h2>@ViewBag.Title</h2>

Api Keys

<table id="api-keys" class="table table-bordered table-condensed table-hover">
  <thead>
  <tr>
    <th>Key</th>
    <th>Issued</th>
    <th>Revoke ?</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var k in Model.ApiKeys)
  {
    var rowClass = "";
    if (k.Revoked.HasValue)
    {
      rowClass = "revoked";
    }
    <tr class="@rowClass">
      <td nowrap>
        <span class="masked-key">
          <i class="fa fa-lock"></i> @k.MaskedKey()
        </span>
      </td>
      <td>@k.Issued.ToPacificTime().ToString("g")</td>
      <td>
        @if (k.Revoked.HasValue)
        {
            @k.Revoked.Value.ToPacificTime().ToString("f")
        }
        else
        {
          <button class="btn btn-danger" data-toggle="modal" data-target="#revoke-key-modal" data-id="@k.Id" data-key="@k.MaskedKey()">
            Revoke Key
          </button>
        }
      </td>
    </tr>
  }
  </tbody>
  <tfoot>
  <tr>
    <td colspan="3">
      <button class="btn btn-primary" data-toggle="modal" data-target="#create-key-modal">
        Create new Api Key
      </button>
    </td>
  </tr>
  </tfoot>
</table>

<div id="create-key-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Api Key?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="create-key-action" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<div id="revoke-key-modal" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to revoke key:</p>
        <span id="revoke-key-modal-key"></span>
        <form id="revoke-key-modal-form">
          <input type="hidden" id="revoke-key-modal-id" name="id" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="revoke-key-action" class="btn btn-danger">Revoke Key</button>
      </div>
    </div>
  </div>
</div>

@section AdditionalScripts
{
  <script>
    var createKeyUrl = '@Url.Action("CreateNewApiKey")';
    $('#create-key-action').click(function() {
      $.post(createKeyUrl)
        .done(function (result) {
          // create new row in table
          var row = document.createElement('tr');

          var keyCol = document.createElement('td');
          $(keyCol).text(result.key);
          row.append(keyCol);

          var dateCol = document.createElement('td');
          var d = moment(result.issued).format('MM/DD/YYYY hh:mm:ss');
          $(dateCol).text(d);
          row.append(dateCol);

          var revokeCol = document.createElement('td');
          row.append(revokeCol);

          $('#api-keys tbody').append(row);

          $('#create-key-modal').modal('hide');
        });
    });

    $('#revoke-key-modal').on('show.bs.modal', function (event) {
      // button that triggered the modal
      var button = $(event.relatedTarget);

      // populate targets
      var id = button.data('id');
      $('#revoke-key-modal-id').val(id);

      var key = button.data('key');
      $('#revoke-key-modal-key').text(key);
    });

    var revokeKeyUrl = '@Url.Action("RevokeApiKey")';
    $('#revoke-key-action').click(function () {
      var id = $('#revoke-key-modal-id').val();
      $.post(revokeKeyUrl, { id })
        .done(function (result) {
          // success, reload page
          location.reload();
        });
    });
  </script>
}
